/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import 'bootstrap';

// Mountaineer black & gold ;)
$black: #1C1C1C;
$gold: #FFCD00;
$offwhite: #fcfcfc;

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  font-family: "Helvetica Nueu", Helvetica, Arial, san-serif;
  font-size: 1rem;
  line-height: 1.5;
}

ul, li {
  list-style: none;
  list-style-type: none;
  padding: none;
}

#main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

header {
  background-color: $black;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.25);
  // height: 50px;
  padding: 5px 10px 5px 10px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #header-logo {
    flex: 0 0 100px;

    img {
      width: 200px;
    }
  }

  #header-controls {
    display: flex;
    flex-direction: row;
    vertical-align: middle;

    h6 {
      color: $offwhite;
      margin: auto;
      text-align: center;
      padding-bottom: 4px;
      margin-right: 50px;
    }

    nav {
      display: none;
      text-align: left;
      position: absolute;
      background-color: $black;
      top: 69px;
      right: 0px;
      padding: 5px 10px 5px 20px;
    }

    ul {
      padding: 0;
      margin-bottom: 0;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      color: $gold;
      font-size: 1.4em;
    }

    a:hover {
      color: $offwhite;
      text-decoration: none;
    }
  }
}

#body {
  display: flex;
  flex: 1;
}

#left-pad, #right-pad {
  display: flex;
  flex: 0 0 16em;
}

#vue-app {
  padding-bottom: 500px;
  padding-top: 50px;
  background-color: $offwhite;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);

  text-align: center;
  flex: 1;
}

footer {
  background-color: $black;
  height: 100px;
}

#content {
  text-align: left;
  margin-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
}

a {
  color: $gold;
}

a:visited {
  color: $gold;
  // color: darken($gold, 15%);
}

a:hover {
  color: $black;
  background-color: transparent;
  text-decoration: underline;
}

input {
}

.btn {
  background-color: darken($gold, 0%);
  color: $offwhite;
  border: none;
  border-radius: 5px;
  padding: 6px;
  font-size: 1.1em;
  font-weight: 200;
  transition-property: transform;
  transition-duration: .1s;
  user-select: none;
}

.btn:hover {
  color: $offwhite;
  cursor: pointer;
  transform: scale(1.1);
}

.btn:focus {
  outline: 0;
}

.search-box {
  height: 2.0em;
  margin-right: 10px;
}


.table {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-active {
  background-color: darken($offwhite, 15%);
}

.input-with-label {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 2rem;

  input, label {
    display: block;
    // text-align: center;
  }
}