// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homepage-content {
  text-align: left;
  margin-top: 40px;
  margin-left: 25%;
}

.homepage-link {
  font-size: 1.4em;
}