// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input-with-label {
  display: inline-block;
  margin-right: 50px;

  input, label {
    display: block;
    // text-align: center;
  }
}