<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @student.pname %>, your package has arrived</h1>
    <p>You have a package available for pickup.</p>
  </body>
</html>